.hero-box,
.hero-box1,
.hero-box2,
.hero-box3 {
    height: 750px;
    min-height: 500px; /* Ensure minimum height of 500px */
    color: #fff;
    line-height: normal; /* Remove line-height */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-box {
    background-image: url(/src/assets/dubai2.jpg);
}

.hero-box1 {
    background-image: url(/src/assets/antalya2.jpg);
}

.hero-box2 {
    background-image: url(/src/assets/istanbul.jpg);
}

.hero-box3 {
    background-image: url(/src/assets/sharm.jpg);
}

/* Media queries for smaller screens */
@media (max-width: 1220px) {
    .hero-box,
    .hero-box1,
    .hero-box2,
    .hero-box3 {
        height: 750px;
    }
}

@media (max-width: 1120px) {
    .hero-box,
    .hero-box1,
    .hero-box2,
    .hero-box3 {
        height: 750px;
    }
}

@media (max-width: 1020px) {
    .hero-box,
    .hero-box1,
    .hero-box2,
    .hero-box3 {
        height: 750px;
    }
}

@media (max-width: 920px) {
    .hero-box,
    .hero-box1,
    .hero-box2,
    .hero-box3 {
        height: 750px;
    }
}

@media (max-width: 820px) {
    .hero-box,
    .hero-box1,
    .hero-box2,
    .hero-box3 {
        height: 750px;
    }
}

@media (max-width: 720px) {
    .hero-box,
    .hero-box1,
    .hero-box2,
    .hero-box3 {
        height: 750px;
    }
}

@media (max-width: 620px) {
    .hero-box,
    .hero-box1,
    .hero-box2,
    .hero-box3 {
        height: 750px;
    }
}

@media (max-width: 520px) {
    .hero-box,
    .hero-box1,
    .hero-box2,
    .hero-box3 {
        height: 1000px;
    }
}

@media (max-width: 420px) {
    .hero-box,
    .hero-box1,
    .hero-box2,
    .hero-box3 {
        height: 1050px;
    }
}

@media (max-width: 320px) {
    .hero-box,
    .hero-box1,
    .hero-box2,
    .hero-box3 {
        height: 1050px;
    }
}
