.city{
    width: 100%;
    text-align: center;
}
.city-title{
    padding-top: 50px;
    font-family: sans-serif;
    font-size: 33px;
    width: 90%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    line-height: 50px;
}
.city-text{
    padding-top: 30px;
    font-family: sans-serif;
    font-size: 18px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    opacity: 0.5;
    line-height: 30px;
}
.slider-container{
    width: 100%;
    height: 550px;
    padding: 80px 0;
}
.slide-card{
    width: 30%;
    height: 480px;
    padding: 50px 0;
}
.button{
    background:transparent;
    border:none;
    color:#00CED1;
}
