.herojon {
    width: 100%;
    align-items: center;
    padding: 50px 0;
}

.herojon-subtitle {
    font-family: sans-serif;
    font-size: 24px;
    padding-top: 30px;
    line-height: 35px;
    font-weight: 500;
}

.herojon-title {
    font-family: sans-serif;
    font-size: 43px;
    line-height: 50px;
}

.herojon-list {
    margin-top: 50px;
    width: 80%;
    border-radius: 150px;
    padding: 25px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Default 4 columns */
    gap: 20px;
    list-style: none;
    align-items:center;
    background: white;
    color: #00CED1;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
}

.herojon-img-box {
    border: 1px solid #00CED1;
    border-radius: 50%;
    font-size: 40px;
    color: #00CED1;
    width: 65px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.herojon-item {
    display: flex;
    align-items: center;
    text-align: center;
}

.herojon-text {
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    opacity: 0.5;
}

span {
    color: #00CED1;
    font-size: 25px;
}

/* Media queries for responsiveness */
@media (max-width: 1220px) {
    .herojon-list {
        grid-template-columns: repeat(4, 1fr); /* 4 columns */
    }
}

@media (max-width: 920px) {
    .herojon-list {
        grid-template-columns: repeat(2, 1fr);
        /*2columns*/border-radius:30px;
   
}
}

@media (max-width: 520px) {
    .herojon-list {
        grid-template-columns: 1fr; /* 1 column */
    }
}
