.footer{
    width: 100%;
    padding: 30px 0;
    background-image:url(/src/assets/cta-bg.jpg);
    align-items:center;
    text-align: center;
}
.footer-box{
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    align-items:center;
    
}
.footer-title{
    font-size: 35px;
    font-family: sans-serif;
    color:white;
    line-height: 50px;
    font-weight: 600;
}
.footer-text{
    font-size: 19px;
    font-weight:800;
    font-family: sans-serif;
    color:white;
    line-height: 30px;
}
.footer-link{
    font-size: 16px;
    font-weight:500;
    text-decoration: none;
    color:white;
    font-family: sans-serif;
    line-height: 20px;
}
@media (max-width: 1220px) {
    .container {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 ;
    }
}

@media (max-width: 1120px) {
    .container {
        max-width: 1000px;
    }
}

@media (max-width: 1020px) {
    .container {
        max-width: 900px;
    }
}

@media (max-width: 920px) {
    .container {
        max-width: 800px;
    }

}

@media (max-width: 820px) {
    .container {
        max-width: 700px;
    }
}

@media (max-width: 720px) {
    .container {
        max-width: 600px;
    }
}

@media (max-width: 620px) {
    .container {
        max-width: 500px;
    }
    
    .footer-box{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}


@media (max-width: 520px) {
    .container {
        max-width: 400px;
    }
}

@media (max-width: 420px) {
    .container {
        max-width: 300px;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 200px;
    }

   
}



