.contactjon {
    width: 100%;
    background-image: url(/src/assets/heading-bg-02.jpg);
    padding: 20px 0;
    text-align: center;
    margin: 0 auto;
}

.contactjon-box {
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}

.contactjon-subtitle {
    font-size: 25px;
    font-weight: 600;
    font-family: sans-serif;
    color: #fff;
    line-height: 30px;
    padding: 20px 0;
}

.contactjon-title {
    font-size: 45px;
    font-weight: 600;
    font-family: sans-serif;
    color: #fff;
    line-height: 60px;
    padding: 25px 0;
}

.contactjon-list {
    padding: 30px 0;
    width: 100%;
    list-style: none;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contactjon-item {
    width: 27%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width: 1020px) {
    .contactjon-item {
        width: 38%;
    }
}

@media (max-width: 820px) {
    .contactjon-item {
        width: 40%;
    }
}

@media (max-width: 720px) {
    .contactjon-item {
        width: 50%;
        margin: 0 auto;
    }
    .contactjon-list {
        width: 100%;
    }
}

@media (max-width: 620px) {
    .contactjon-box {
        margin-top: 40px;
    }

    .contactjon-subtitle {
        font-size: 20px;
    }

    .contactjon-title {
        font-size: 35px;
    }

    .contactjon-item {
        width: 57%;
    }
}

@media (max-width: 520px) {
    .contactjon-box {
        margin-top: 40px;
    }

    .contactjon-subtitle {
        font-size: 20px;
    }

    .contactjon-title {
        font-size: 35px;
    }

    .contactjon-item {
        width: 71%;
    }
}

@media (max-width: 420px) {
    .contactjon-box {
        margin-top: 40px;
    }

    .contactjon-subtitle {
        font-size: 20px;
    }

    .contactjon-title {
        font-size: 35px;
    }

    .contactjon-item {
        width: 90%;
    }
}

@media (max-width: 320px) {
    .contactjon-box {
        margin-top: 40px;
    }

    .contactjon-subtitle {
        font-size: 20px;
    }

    .contactjon-title {
        font-size: 35px;
    }

    .contactjon-item {
        width: 100%;
    }
}
